*{
    font-size: 1.05rem;
}

#body_style{
    background-color: #3A4CDB;
}

#navBar{
    background-color: #3A4CDB;
}

#linha_nav{
    display: inline-block;
    background-color: white;
    width: 0.1px;
    height: 2.5rem;
    margin-bottom: -0.7rem;
}

.link_nav{
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.link_nav:hover{
    color: rgba(255, 255, 255, 0.705) !important ;
}

#icon_login{
    font-size: 25px;
    color: white;
}

.circulo_passo_a_passo {
    border: 0.2rem solid #3A4CDB;
    border-radius: 100%;
    min-width: 50px;
    min-height: 50px;

    width: 8vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#section_planos{
    background-color: #2E97DB;
}

#div_recomendado{
    background-color: #7F44DB;
    border-radius: 5px 5px 0px 0px;
}

.icone_check_planos{
    font-size: 1.5rem;
}

/* MediaQuerys */

/* Estilos para telas pequenas */
@media (max-width: 576px) {
    .font_responsiva {
        font-size: 10px;
    }
}

/* Estilos para telas médias */
@media (min-width: 577px) and (max-width: 992px) {
    .font_responsiva {
        font-size: 16px;
    }
}

/* Estilos para telas grandes */
@media (min-width: 993px) {
    .font_responsiva {
        font-size: 18px;
    }
}

/* Fim das MediaQuerys */

/* Animação da Section Inicial */

.fade-in-left.fade-in {
    opacity: 1;
    transform: translateX(0);
}

.fade-in-right.fade-in {
    opacity: 1;
    transform: translateX(0);
}


/* Classe para desaparecer suavemente para a esquerda */
.fade-out-left {
    animation: fadeOutLeft 0.5s forwards;
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

/* Classe para desaparecer suavemente para a direita */
.fade-out-right {
    animation: fadeOutRight 0.5s forwards;
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}

.fade-in-left{
    animation: fadeInLeft 1s forwards;
}


@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fade-in-right{
    animation: fadeInRight 1s forwards;
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Fim da Animação da Section Inicial */