<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../bootstrap-5.3.0-dist/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../../css_controller/style.css">
        <link rel="stylesheet" href="../../css_controller/cad_seguro.css">
        <title>Marca</title>
    </head>
<body class="conteiner-fluid pt-5 bg-white">
    <!-- NavBar -->

    <nav id="navBar" class="navbar navbar-expand-lg m-auto fixed-top">
        <div class="container-fluid col-12">
          <a class="navbar-brand text-white" href="../../view/index.html">
            <img style="width: 3rem;" src="../../images/carro.png" alt="">
            <div class="ms-1 me-1" id="linha_nav"></div> Marca
          </a>
          
        </div>
      </nav>
  
      <!-- Fim da NavBar -->

      <main class=" container pt-5 justify-content-center col-12 align-items-center">
        <div class="container">

          <div class="container-fluid p-0 m-0">
            <div class="d-flex justify-content-between col-12">
              <span class="col-8  mb-1 d-flex"><strong>dados do veículo</strong></span>
              <span>1 de 6</span>
            </div>
            <div style="border: 1px solid black; border-radius: 4px;" class="container-fluid p-0 mb-3">
              <div id="linha_cad" class="col-2"></div>
              <div class="col-10"></div>
            </div>
          </div>

            <h1 class="pb-1 text-center">Faça seu seguro agora e de maneira fácil</h1>
            <p class="font_responsiva pb-3 text-center text-muted">Conheça as melhores opções de seguro.</p>
            <form id="form_cad_seguro" class="p-4" action="../cad_seguro/dados_endereco.html">

                <label class="text-black font_responsiva mb-3" for="cpf_usu">qual a placa do carro?</label>
                <input type="text" id="placa_usu" name="placa_usu" class="d-block col-12" aria-labelledby="passwordHelpBlock">
                <label class="text-black font_responsiva mb-3 mt-3" for="modelo_carro_usu">qual o modelo do carro?</label>

                <select name="modelo_carro_usu" id="modelo_carro_usu" class="d-block col-12 mb-3" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

                <label class="text-black font_responsiva mb-3" for="modelo_carro_usu">qual o tipo do uso do carro?<i style="color: #3A4CDB;" class="bi bi-exclamation-circle ms-1" data-toggle="tooltip" data-placement="top" title="por enquanto só trabalhamos com veículos privados."></i></label>

                <select name="tipo_carro_usu" id="tipo_carro_usu" class="d-block col-12 mb-3" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

                <a class="font_responsiva" href="#">não lembro minha senha</a>
                <button style="background-color: #3A4CDB; " id="btn_passo_a_passo" class="btn text-white d-block m-auto fw-bold col-10 col-sm-8 col-md-6 col-lg-4 p-2 mt-2 mb-2 align-self-center mt-4" type="submit">Próximo</button>

            </form>
        </div>

      </main>

      <script src="../../bootstrap-5.3.0-dist/js/bootstrap.js"></script>
      <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</body>
</html>