<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bootstrap-5.3.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css_controller/style.css">
    <title>Marca</title>
</head>

<body class="conteiner-fluid pt-5" id="body_style">
    <!-- NavBar -->

    <nav id="navBar" class="navbar navbar-expand-lg m-auto fixed-top">
        <div class="container-fluid col-10">
            <a class="navbar-brand text-white" href="#"><img style="width: 3rem;" src="../images/carro.png" alt=""> <div class="ms-1 me-1" id="linha_nav" ></div>  Marca</a>
                
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="teste" class="nav-link text-white ms-lg-5 link_nav" href="#">nossos planos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white link_nav" href="#">quem pode assinar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white link_nav" aria-current="page" href="#">como assinar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white link_nav" href="#">como acionar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white link_nav" href="#">dúvidas</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex">
                    <li class="d-flex">
                        <i id="icon_login" class="bi bi-person ms-0 mb-3 mb-lg-0 ms-lg-5 link_nav"></i>
                        <a class="nav-link text-white me-2 link_nav" href="#">login</a>
                    </li>
                </ul>
                <a class="btn btn-light fw-bold p-2" href="">faça seu seguro</a>
            </div>

        </div>
    </nav>

    <!-- Fim da NavBar -->

    <!-- Main -->

    <main style="height: 2000px;" class="container mt-5">

        <section id="section_inicial" class="row ">
            <div id="frases_inicial" class="col-lg-6 col-12">
                <h1 class="text-white mb-4">a proteção do jeito que você sempre quis para o seu carro!</h1>
                <h5 class="text-white mb-4">o melhor seguro para seu carro agora muito mais barato</h5>
                <a class="btn btn-light fw-bold p-2" href="">faça seu seguro</a>
            </div>
            <div id="img_inicial" class="col-lg-6 col-12  ">
                <img class="img-fluid m-auto" src="../images/carro-banner.png" alt="">
            </div>
        </section>

        <section>

        </section>

    </main>

    <!-- Fim do Main -->

    <!-- Javascript -->

    <script src="../bootstrap-5.3.0-dist/js/bootstrap.js"></script>

    <script>
        var frasesDiv = document.getElementById('frases_inicial');
        var imgDiv = document.getElementById('img_inicial');
        var isFraseVisible = true;
        var isImgVisible = true;

        window.addEventListener('scroll', function () {
            var scrollPosition = window.scrollY;
            console.log(scrollPosition);

            if (scrollPosition >= 200 && isFraseVisible) {
                frasesDiv.classList.remove('fade-in-left');
                frasesDiv.classList.add('fade-out-left');
                isFraseVisible = false;
            } else if (scrollPosition < 200 && !isFraseVisible) {
                frasesDiv.classList.remove('fade-out-left');
                frasesDiv.classList.add('fade-in-left');
                isFraseVisible = true;
            }

            if (scrollPosition >= 200 && isImgVisible) {
                imgDiv.classList.remove('fade-in-right');
                imgDiv.classList.add('fade-out-right');
                isImgVisible = false;
            } else if (scrollPosition < 200 && !isImgVisible) {
                imgDiv.classList.remove('fade-out-right');
                imgDiv.classList.add('fade-in-right');
                isImgVisible = true;
            }

            
        });
    </script>

    <!-- Fim do Javascript -->
</body>

</html>